body{
    margin: 0;
    background: linear-gradient(#95145b,#ed8dcd);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 40px;
}
/* Header styling: */
header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
h2{
    /* font-family: "Roboto Condensed", sans-serif; */
    font-size: 40px;
    background-color: white;
    outline: 15px solid white;
    margin: 10px 90px;
    border-radius: 10px;
    padding: 10px;
}
header h1{
    color: white;
    font-family: "Calistoga", serif;
    font-size: 70px;
}
header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid white;
}
main{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #95145b;
}
footer{
    text-align: center;
    padding: 50px;
}
footer p{
    margin: 0;
}