body{
    margin: 0;
    /* background: linear-gradient(#95145b,#ed8dcd); */
    background-color:  #ed8dcd ;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 40px;
}

/* Header styling: */

header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

header h1{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    /* font-family: "Anton", sans-serif; */
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid white;
}

/* Icon block styling: */

/* .icon-block {
    gap: 20px;
} */

.icon {
    color: white;
    font-size: 100px;
    text-decoration: none;
    padding: 0 20px;
    /* transition: color 0.3s ease; */
}

.icon:hover {
    color: #95145b;
}

/* Main styling: */

h2{
    /* font-family: "Roboto Condensed", sans-serif; */
    font-size: 35px;
    font-weight: 500;
    background-color: white;
    /* outline: 15px solid white; */
    margin: 10px 90px;
    border-radius: 10px;
    padding: 40px;
}

main{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #95145b;
}

/* Footer styling: */

footer{
    text-align: center;
    padding: 50px;
}

footer p{
    margin: 0;
}